/* styles.css */
@font-face {
    font-family: 'Higborn';
    src: url('fonts/Higborn.otf') format('opentype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1b1b2f; /* Bleu nuit très sombre */
    position: relative;
    z-index: -2;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content {
    background-color: #33354a; /* Fond gris-bleu foncé */
    color: #000000; /* Texte en noir */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Largeur fixe */
    max-width: 500px; /* Largeur maximale */
    height: 60%; /* Hauteur fixe */
    max-height: 400px; /* Hauteur maximale */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligner le titre en haut */
    overflow-y: auto; /* Permettre le défilement si le contenu dépasse */
    margin: 0 auto; /* Centrer horizontalement */
}

.content h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center; /* Centrer le titre horizontalement */
    font-family: 'Higborn', sans-serif;
}

.content h3 {
    text-align: center; /* Centrer le contenu horizontalement */
    margin: 0; /* Supprimer les marges par défaut des paragraphes */
    padding: 10px 0;
}

#draw {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box {
    background-color: #e43f5a; /* Couleur des triangles */
    color: #000000; /* Texte en noir */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Espacement autour de la boîte, centré horizontalement */
    width: 80%; /* Largeur fixe */
    max-width: 600px; /* Largeur maximale */
    height: 60%; /* Hauteur fixe */
    max-height: 400px; /* Hauteur maximale */
    display: none; /* Masquer les boîtes par défaut */
    flex-direction: column;
    justify-content: flex-start; /* Aligner le titre en haut */
    overflow-y: auto;  /*Permettre le défilement si le contenu dépasse */
}

.box h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center; /* Centrer le titre horizontalement */
    font-family: 'Higborn', sans-serif;
}

.box h3 {
    text-align: center; /* Centrer le contenu horizontalement */
    margin: 0; /* Supprimer les marges par défaut des paragraphes */
    padding: 10px 0;
}

.navigation {
    text-align: center;
    margin-bottom: 20px;
}

.navigation button {
    background-color: #e43f5a;
    border: none;
    color: #000000;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation button:hover {
    background-color: #d53649;
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.box:first-of-type {
    display: flex;
}
